/* Responsive design */
@media (max-width: 768px) {

  .circle-container {
    width: 90vmin;
    height: 90vmin;
  }

  #breather-extension-circle, #breather-extension-outline-circle-small {
    width: 22.5vmin;
    height: 22.5vmin;
  }

  #breather-extension-outline-circle-big {
    width: 90vmin;
    height: 90vmin;
  }

  #breather-extension-toggle-button {
    font-size: 0.9rem;
    padding: 0.6em 1.2em;
  }
  
  
  #calmTitle, #breather-extension-instruction {
    font-size: clamp(2.5rem, 8vw, 3.5rem);
    width: 80%;
    top: 5%;
  }

  #calmSubtitle{
    font-size: clamp(1rem, 4vw, 1.3rem); 
  }
  
   #breather-extension-timer {
    font-size: clamp(2rem, 4vw, 2rem); 
    top: 15%
  }
  
  #about {
    font-size: .8rem;
    bottom: 55px;
  }
  
  #link {
    font-size: .9rem;
    bottom: 1rem;
  }
}