/* Media queries for responsiveness */
@media (max-width: 767px) {
  #link { 
    bottom: 10px;
    font-size: 1rem; /* Slightly increased from 0.9rem */
  }

  #breather-extension-toggle-button {
    font-size: 1.1rem; /* Slightly increased from 1rem */
    padding: 0.5rem 0;
    color: #00000000;
  }

  #breather-extension-circle, #breather-extension-outline-circle-small, #breather-extension-toggle-button {
    width: 15vmin;
    height: 15vmin;
  }
  
  #breather-extension-outline-circle-big {
    width: 60vmin;
    height: 60vmin;
  }


  #calmTitle, #breather-extension-instruction {
    font-size: clamp(2.5rem, 4vw, 3.5rem); /* Increased from 2rem, 4vw, 3rem */
    top: 9%;
    width: 80%;
  }

  #calmSubtitle, #breather-extension-timer {
    font-size: clamp(2rem, 2.5vw, 2rem); 
    top: 20%; 
  }
  
  #open-instructions {
    font-size: .8rem;
    bottom: 55px;
  }
  
  #link {
    font-size: .9rem;
    bottom: 10px;
  }
}